*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
}
body{
  font-family: "Inter", Arial, Helvetica, sans-serif
}


/* .inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */


.loader div:nth-child(1) {
  animation-delay: 0s;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  animation-delay: 0.4s;
}
.loader div:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes grow-shrink {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }
}